In [9]:
False == (1 > 2), True == (2 > 1)

(True, True)

In [10]:
x,y=True,False
(x or y ) == True
(x and y) == False
(not y) == True

True

In [11]:
while(True):
    break
    print("hello world")

In [1]:
x = int(input("your value:"))
if x > 5: print("Big")
elif x == 5: print("Medium")
else:print("Small")

your value:6
Big

In [2]:
j = 0
while j < 3:
    print(j)
    j = j+1

0
1
2

In [3]:
42 in [2,39,42]

True

In [4]:
y = x = 3
x is y
[3] is [3]

False

In [42]:
def f():
    x = 2
    f() is None

In [35]:
(lambda x: x + 3)(3)

6

In [36]:
def incrementor(x):
    return x + 1
incrementor(4)

5

## basic data types

In [52]:
x, y = True, False
print(x and not y)
print(not x and y or x)

True
True

In [54]:
x, y = 3,2
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(-x)
print(abs(-x))
print(int(3.9))
print(float(3))
print(x ** y)

5
1
6
1.5
1
1
-3
3
3
3.0
9

In [58]:
s ="The youngest pope was 11 years old"
print(s[0])
print(s[1:3])
print(s[-3:-1])
print(s[-3:])
x = s.split()
print(x[-3] + " " + x[-1] + " " + x[2] +"s")

T
he
ol
old
11 old popes

In [62]:
y =" This is lazy\t\n "
print(y.strip())
print("DrDre".lower())
print("attention".upper())
print("smartphone".startswith("smart"))
print("smartphone".endswith("phone"))
print("another".find("other"))

This is lazy
drdre
ATTENTION
True
True
2

## complex data types

In [68]:
l = [1,2,2]
print(len(l))

3

In [89]:
A = [1, 2, 2, 4]
A.remove(1)
print(A)

[2, 2, 4]

In [92]:
stack = [3]
stack.append(42)
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[3, 42]
[3]
[]

In [93]:
basket = {'apple','eggs','banana','orange'}
same =  set(['apple','eggs','banana','orange'])

In [94]:
calories = {'apple':52, 'banana':89, 'choco':546}

In [106]:
basket = {'apple','eggs','banana','orange'}
print('eggs' in basket) 
print('mushroom' in basket)

True
False

In [110]:
l=[('Hi' + x)for x in ['alice','bob','pete']]
print(l)
l2 = [x * y for x in range(3)for y in range(3) if x>y]
print(l2)

['Hialice', 'Hibob', 'Hipete']
[0, 0, 2]

# Functions and tricks

In [115]:
list(map(lambda x: x[0], ['red','green','blue']))

['r', 'g', 'b']

In [116]:
list(map(lambda x, y: str(x) +' '+ y + 's' ,[0,2,2],['apple','orange','banana']))

['0 apples', '2 oranges', '2 bananas']

In [117]:
'marries'.join(list(['alice','bob']))

'alicemarriesbob'

In [125]:
list(filter(lambda x: True if x>17 else False,[1,15,17,38]))

[38]

In [127]:
print("\n \t 42 \t".strip())

42

In [128]:
sorted([8,3,2,42,5])

[2, 3, 5, 8, 42]

In [134]:
sorted([8,3,2,42,5]),key=lambda x: 0 if x==42 else x)

SyntaxError: cannot assign to function call (Temp/ipykernel_1388/4072103582.py, line 1)